body {
    font-family: "Bai Jamjuree", serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.text-white {
    color: #fff;
}

#top-content-bg .text-white {
    text-align: center;
    font-weight: 400;
}

#main-title {
    padding: 20vh 0 !important;
}

.header {
    background-color: #800000;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.header .container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.logo img {
    height: 50px;
    margin-right: 20px;
}

.site-title {
    font-size: 20px;
    font-weight: bold;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.nav ul li a {
    color: white;
    text-decoration: none;
}

.language-switch button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: white;
    color: #003366;
    border: none;
    cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#top-content-bg {
    background-image: url(/top_content_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: #820f0f;
    margin-top: 74px;
}

.main-content {
    padding: 20px;
}

.footer {
    background-color: #800000;
    color: white;
    text-align: center;
    padding: 10px;
}

.menu {
    display: flex;
    gap: 10px;
    margin: 0 2rem;
}

.menu a {
    padding: 10px;
    width: 25%;
    border: 1px solid;
    color: #800000;
    text-align: center;
    text-decoration: auto;
    border-radius: 10px;
}

.menu a:hover {
    border: 1px solid;
    color: #fff;
    background: #800000;
}
